<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Rick and Morty </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list *ngFor="let character of characters">
      <ion-item (click)="goCharacter(character.id)">
        <ion-avatar slot="start">
          <img [src]="character.image">
        </ion-avatar>
        <ion-label>
          <h2>{{character.name}}</h2>
          <h3>{{character.species}}</h3>
          <p>{{character.origin.name}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
